*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx
*.httr-oauth
.Rhistory
.httr-oauth
*_cache/*


*.log


# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.Rhistory
*.tex

*.Rproj.user

# Large files
